<% title "Survey" %>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <%= link_to "Edit", edit_survey_path(@survey) %> |
  <%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", surveys_path %>
</p>
